/*Reset CSS*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "arimo";
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----- !!! HEADER !!! -----*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #3c3c3c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s ease;
  opacity: 1;
  overflow: visible;
}


/* Logo à taille normale */
.header .logo img {
  width: 70px;
  height: 90px;
  transition: all 0.3s ease;
}

/*
.logo {
  top: 0%;
  flex: 1;
  padding-bottom: 10px;
}*/

.nav {
  display: flex;
  gap: 100px;
  /* augmente l'espacement entre chaque menu*/
  margin-left: 500px;
  /*permet de décaler le menu vers la gauche*/
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;

  &:hover {
    transform: scale(1.1);
  }
}

.nav a:hover {
  color: #b59b76;
}

.language-selector {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  z-index: 200;
}

.lang-menu {
  position: relative;
}

.lang-menu button {
  background-color: #3c3c3c;
  border: none;
}

.lang-btn {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
  background-color: #3c3c3c;
  padding-right: 10px;
}

.lang-list {
  position: absolute;
  top: 100%;
  /* colle à 100% du bouton */
  right: 0;
  display: none;
  background: #3c3c3c;
  border-radius: 10px;
  box-shadow: 0 4px 8px #3c3c3c;
  padding: 10px;
  list-style: none;
  z-index: 300;
}

.lang-list li {
  margin: 5px 0;
  cursor: pointer;
}

.lang-list a:hover {
  transform: scale (1.2);
}

.lang-menu:hover .lang-list {
  display: block;
}

/* --- HEADER qui réduit en scrollant --- */

/* Header réduit au scroll */
.header.shrink {
  padding: 2px 10px;
}

/* Logo plus petit dans le header réduit */
.header.shrink .logo img {
  width: 50px;
  height: 65px;
  margin-top: 2px;
}

/* ----- !!! FOOTER !!! ----- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3c3c;
  color: white;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1 1 300px;
  margin: 10px 0;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.logo {
  height: 70px;
}

/* Bloc central - version ligne */

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-info {
  margin: 0;
  white-space: nowrap;
}

.footer-center i {
  margin-right: 5px;
  color: #b59b76;
}

.footer-center a {
  color: white;
  text-decoration: none;
}

.separator {
  margin: 0 30px;
  color: #aaa;
}

/* Icônes réseaux sociaux */
.social-icon {
  font-size: 24px;
  color: white;
  margin-left: 10px;
  transition: transform 0.2s, color 0.2s;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #b59b76;
}


/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/


/* ----- !!! MAIN !!! ----- */
.image-ponton {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 200px;
  box-shadow: 6px 6px 20px;
  margin-bottom: 200px;

}

/* ---- Partie concernant le container ---- 1*/

.titre1 h1 {
  background: linear-gradient(to right, #bd9d62, #e2d0ad);
  padding: 20px 60px;
  margin: 0 120px;
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
  color: #fdf9f2;
  margin-bottom: 60px;
}

.container-first {
  display: flex;
  padding-top: 30px;
  padding-bottom: 170px;
}

.left-side1 {
  display: flex;
  width: 50%;
  padding-left: 50px;
  align-items: flex-start;
}

.icons-column {
  background-color: #c59e5b;
  border-radius: 50px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: white;
  margin-left: 100px;
}

.icon {
  font-size: 30px;
  color: white;
  text-align: center;
}

.text-column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 39px;
  font-size: 26px;
  color: #9d875b;
  padding-top: 19px;
}

.right-side1 {
  flex: 1;
  overflow: hidden;
}

.right-side1 img {
  width: 710px;
  height: 490px;
  object-fit: cover;
  margin-top: 60px;
  border-radius: 20px;

}

/* ---- Partie Présentation avec un CARROUSEL ---- */
.container-second {
  position: relative;
  z-index: 1;
}

.main-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  gap: 10px;
  margin-bottom: 150px;
}

.text-block {
  width: 33%;
  margin-left: 200px;
}

.text-block h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #9d875b;
}

.text-block p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Carrousel */
.carousel {
  position: relative;
  width: 800px;
  height: 660px;
  /* image (400) + pagination (40) */
  overflow: hidden;
  margin-right: 200px;
  border-radius: 20px;
}

.carousel-track-wrapper {
  overflow: hidden;
  width: 800px;
  height: 600px;
  border-radius: 20px;
}

.carousel-track img {
  width: 800px;
  height: 600px;
  object-fit: cover;
  flex-shrink: 0;

}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


/* Boutons */
.navb {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px 10px;
  cursor: pointer;
  z-index: 2;
  opacity: 0.5;
}

.navb.prev {
  left: 10px;
}

.navb.next {
  right: 10px;
}

/* Pagination (points) */
.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #c59e5b;
}

.caption {
  /* Partie concernant la légende des photos */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffffc9;
  font-size: 1.4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}


/* ---- Partie de la video Présentation ---- */


.video-pres {
  display: flex;
  margin-bottom: 110px;
  justify-content: center;
  /*permet de centrer de gauche à droite, l'axe X*/
  align-items: center;
  /*permet de centrer de haut en bas, l'axe Y*/
}

/* ---- Partie concernant la derniere image, le PLAN ---- */
.titre-last h1 {
  background: linear-gradient(to right, #bd9d62, #e2d0ad);
  padding: 20px 60px;
  margin: 0 120px;
  color: #fdf9f2;
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}

.icon-last i {
  font-size: 30px;
  color: #fdf9f2;
  padding-right: 15px;
}

.container-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 10px;
  margin-bottom: 250px;
  margin-top: -150px;
}

.image-last {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 600px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  top: 150px;
  padding-right: 250px;
}

.left-side-last {
  margin-left: 250px;
  padding-top: 200px;
}

h3 {
  background-color: #e2d0ad;
  opacity: 0.9;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 50px;
  margin-top: 60px;
  font-size: 1.6em;
  color: #3c3c3c;
}


ul li {
  text-decoration: none;
  font-size: 1.3em;
  padding-left: 10px;
  padding-top: 15px;
}

.info1 ul {
  padding-left: 30px;
  padding-top: 20px;
}

.info2 ul {
  padding-left: 30px;
  padding-top: 20px;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------- */
/* RESPONSIVE POUR MOBILE */
/* ---------------------- */

/* ----- RESPONSIVE MOBILE ----- */

@media (max-width: 768px) {

  /* --- HEADER --- */
 header {
  width: 100%;            /* prend seulement la largeur dispo */
  max-width: 100vw;       /* ne dépasse jamais la largeur de l'écran */
  overflow-x: hidden;     /* empêche tout débordement horizontal */
  box-sizing: border-box; /* calcule la largeur en incluant padding + border */
}
  .header .logo img {
    width: 50px;
    height: 65px;
  }

  .language-selector {
    margin-left: 15px;
    position: absolute;
    top: 19%;
    left: 83%;
  }

  .nav {
    flex-direction: flex;
    gap: 10px;
    margin-left: 0;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 87px;
  }

  .language-selector {
    justify-content: flex-start;
    margin-top: 10px;
  }

  /* --- MAIN --- */

  .container-first .container-second .container-last {
    width: 100%;            /* prend seulement la largeur dispo */
    max-width: 100vw;       /* ne dépasse jamais la largeur de l'écran */
    overflow-x: hidden;     /* empêche tout débordement horizontal */
    box-sizing: border-box; /* calcule la largeur en incluant padding + border */
  }

  .titre1 h1 {
    width: 85%; /* occupe 90% de la largeur */
    margin: -60px auto 40px; /* auto = centre horizontalement */
    padding: 15px 20px;
    font-size: 1.2rem;
  }

  .titre-last h1 {
    width: 85%;
    margin: -60px auto 40px;
    padding: 15px 20px;
    font-size: 1.2rem;
  }

  .image-ponton {
    width: 94%;
    margin-top: 140px;
    margin-bottom: 140px;
  }

  /* partie descripton */

  .container-first {
    flex-direction: column;
  }

  .icons-column {
    width: 17%;
    position: relative;
    left: -130px;
  }

  .left-side1 .text-column {
    font-size: 0.82em;
    text-align: left;
    margin-left: -140px;
    gap: 56px;
    white-space: nowrap;   /* autorise le retour à la ligne */
    word-wrap: break-word; /* force le retour à la ligne si un mot est trop long */
    max-width: 100%;
  }

  .right-side1 img {
    width: 350px;
    height: 220px;
    max-width: 100%; /* l’image ne dépasse pas l’écran */ 
    height: auto;
    position: relative;
    left: 30px;
  }

  /* partie carroussel */

  .main-layout {
    flex-direction: column;
  }

.text-block {
  width: 100%;
  margin-left: 30px;
  margin-top: -30px;
}

.text-block h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #9d875b;
}

.text-block p {
  font-size: 1.2em;
  line-height: 1.6;
}

  .carousel {
    width: 94%;
    height: 100%;
    margin-left: 190px;
  }

  .carousel-track img {
    width: 400px;
    height: 200px;
  }

  .carousel-track-wrapper {
  width: 400px;
  height: 200px;
}

  /* partie video */

  .video-pres {
    width: 10px;
    height: 50%;
    max-width: 100%;
    margin-left: 200px;
  }

  /* partie plan */

  .container-last {
    flex-direction: column;
  }

  .image-last {
    width: 100%;
  }

  .left-side-last {
    text-align: center;
    margin-left: 5px;
    padding-top: 90px;
    font-size: 0.8em;
  }

  ul li {
    margin-left: -30px;
    padding-right: 20px;
    text-align: left;
  }

  .image-last {
    width: 380px;
    height: 380px;
    position: relative;
    left: 20%;
    margin-top: -120px;
  }



  /* --- FOOTER --- */

  .footer {
    flex-direction: flex;
    text-align: center;
  }

  /*
  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
  }*/

  .footer-center {
    flex-direction: column;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    white-space: normal;
    gap: 8px;
  }

  .separator {
    display: none;
  }

  .footer-right {
    margin-top: 10px;
  }

  .footer-left {
    position: flex;

  }

}

@media (max-width: 480px) {
  .text-block h1 {
    font-size: 2em;
  }

  .text-block p {
    font-size: 14px;
  }

  .contact-section h2 {
    font-size: 24px;
  }

  .nav a {
    font-size: 16px;
  }

  .language-selector img {
    width: 25px;
    height: 25px;
  }
}